@font-face {
  font-family: Special Elite;
  src: url(../assets/fonts/SpecialElite-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  /* fonte usada nos titulos */
}

@font-face {
  font-family: Mulish;
  src: url(../assets/fonts/Mulish-Light.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  /* fonte usada nas descrições */
}

@font-face {
  font-family: Inter;
  src: url(../assets/fonts/Inter-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
}

.primary-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  max-width: var(--container-width);
  padding: 100px 50px;
  gap: 200px;
}

.container {
  display: flex;
}

section.container img {
  max-width: 300px;
  min-width: 100px;
  border-radius: 15px;
}

body {
  background-color: #ffffff;
  margin: auto;
}

.floating-text > h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(255, 255, 255);
}

.floating-text {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.514);
  width: 100vw;
  height: 400px;
}

.parallax-image {
  width: 100vw;
  height: 400px;
  background-image: url(../assets/images/forest.jpg);
  background-attachment: fixed;
  background-position: bottom center;
  background-size: cover;
}



main img {
  width: 100%;
}

footer {
  background-color: black;
  color: #D9DBE1;
  text-align: center;
  font-size: 14px;
  padding: 12px;
  line-height: 24px;
  font-weight: 400;
}