.primary-title {
  color: var(--font-color);
  font-family: Special Elite;
  font-size: 3.2vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.25px;
}

.regular-text {
  font-weight: 600;
  font-size: 1.4vw;
  line-height: 1.2em;
  color: var(--font-color);
  font-family: Mulish;
  letter-spacing: 0.25px;
}
